:root {
  --accent-color: #2196f3;
  --secondary-color: #f5f5f5;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --icons-color: #afb1b8;
  --backgraund-color: #ffffff;
  --backgraund-secondary-color: #2f303a;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--backgraund-color);
}

.section {
  padding: 60px 0px;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 60px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0px;
  }
}

.title-hero {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .title-hero {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}

.accent {
  color: var(--accent-color);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 753px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.contact__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--backgraund-color);
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--backgraund-color);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0px;
  fill: #000000;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
  cursor: pointer;
}
.menu-toggle:focus, .menu-toggle:hover {
  fill: var(--accent-color);
  cursor: pointer;
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: auto;
  gap: 32px;
}
.menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.menu-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}
.menu-cont__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.menu-cont__tel {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.1764705882;
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .menu-cont__tel {
    font-size: 34px;
  }
}
.menu-cont__link:focus, .menu-cont__link:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.menu-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu-socials__item {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu-socials__item:last-child {
  padding-right: 0;
  border-right: none;
}
.menu-socials__link {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.2222222222;
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .menu-socials__link {
    font-size: 18px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: visibility var(--animation), opacity var(--animation);
  transition: visibility var(--animation), opacity var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 95%;
  background-color: var(--backgraund-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}
.modal__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  background-color: var(--backgraund-color);
  fill: #000000;
  border-radius: 50%;
  border: 1px Solid rgba(0, 0, 0, 0.1);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.modal__btn:hover, .modal__btn:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .social {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.social__list {
  gap: 10px;
}
.social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--backgraund-color);
  margin-bottom: 20px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--backgraund-color);
  -webkit-transition: color var(--animation), background-color var(--animation);
  transition: color var(--animation), background-color var(--animation);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  fill: var(--backgraund-color);
}
.social__icons {
  -webkit-transform: fill var(--animation);
          transform: fill var(--animation);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--backgraund-color);
  border-radius: 50%;
  fill: var(--icons-color);
  -webkit-transition: color var(--animation), background-color var(--animation);
  transition: color var(--animation), background-color var(--animation);
}
.socials__icons {
  -webkit-transition: fill var(--animation), background-color var(--animation);
  transition: fill var(--animation), background-color var(--animation);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  fill: var(--backgraund-color);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ececec;
}

.container-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .container-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.active {
  position: relative;
  color: var(--accent-color);
}

.nav {
  padding-bottom: 15px;
  padding-top: 15px;
}
.nav__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
}
.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__logo {
    margin-right: 87px;
  }
  .nav__list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    gap: 50px;
  }
  .nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    padding-top: 20px;
    padding-bottom: 32px;
    -webkit-transition: color var(--animation);
    transition: color var(--animation);
  }
  .nav__link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .nav__logo {
    margin-right: 93px;
  }
  .nav__list {
    margin-right: 300px;
  }
}

.contakt {
  display: none;
}
@media screen and (min-width: 768px) {
  .contakt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    gap: 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 51px;
  }
  .contakt__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: color var(--animation);
    transition: color var(--animation);
  }
  .contakt__link:hover, .contakt__link:focus {
    color: var(--accent-color);
  }
  .contakt__address-icons {
    fill: currentColor;
  }
  .contakt__tel-icons {
    fill: currentColor;
  }
  .contakt__address-icons:hover, .contakt__address-icons:focus {
    fill: var(--accent-color);
  }
  .contakt__tel-icons:hover, .contakt__tel-icons:focus {
    fill: var(--accent-color);
  }
  .contakt__tel-icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .contakt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: auto;
    gap: 30px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 0;
  }
  .contakt__tel {
    gap: 10px;
  }
}

.hero {
  max-width: 100%;
  text-align: center;
  padding: 200px 0;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(48, 48, 58, 0.4)), to(rgba(48, 48, 58, 0.4))), url(../images/hero/img_sm-@1x.jpg);
  background-image: linear-gradient(to right, rgba(48, 48, 58, 0.4), rgba(48, 48, 58, 0.4)), url(../images/hero/img_sm-@1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_sm-@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_sm-@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    text-align: center;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(48, 48, 58, 0.4)), to(rgba(48, 48, 58, 0.4))), url(../images/hero/img_md-@1x.jpg);
    background-image: linear-gradient(to right, rgba(48, 48, 58, 0.4), rgba(48, 48, 58, 0.4)), url(../images/hero/img_md-@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_md-@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_md-@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(48, 48, 58, 0.4)), to(rgba(48, 48, 58, 0.4))), url(../images/hero/img_lg-@1x.jpg);
    background-image: linear-gradient(to right, rgba(48, 48, 58, 0.4), rgba(48, 48, 58, 0.4)), url(../images/hero/img_lg-@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_lg-@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_lg-@2x.jpg);
  }
}
.hero__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--backgraund-color);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.3863636364;
  }
}
.hero__btns {
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--backgraund-color);
  border-radius: 4px;
  border: 0;
  padding: 10px 24px;
  cursor: pointer;
}
.hero__btns__:hover, .hero__btns__:focus {
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .hero__btns {
    width: 216px;
  }
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .about__list {
    text-align: unset;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .about__list {
    text-align: unset;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
}
.about__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .about__item {
    width: calc((100% - 90px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    width: calc((100% - 90px) / 4);
  }
}
.about__title {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about__text {
  text-align: start;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
  .about__text {
    text-align: none;
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    text-align: none;
    display: inline-block;
  }
}

.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
  }
  .work__list {
    gap: 30px;
    padding-bottom: 0;
  }
  .work__tomb {
    position: relative;
  }
  .work__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
  }
  .work__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428571429;
    color: var(--backgraund-color);
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.team {
  background-color: #f5f4fa;
}
.team__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.team__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--backgraund-color);
}
.team__text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 45px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.cliens__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  cursor: pointer;
}
.cliens__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  fill: var(--icons-color);
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  -webkit-transition: color var(--animation), background-color var(--animation);
  transition: color var(--animation), background-color var(--animation);
}
.cliens__icons {
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.cliens__link:hover, .cliens__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .cliens__list {
    -ms-flex-preferred-size: calc((100% - 30px) / 3);
        flex-basis: calc((100% - 30px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .cliens__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-preferred-size: calc((100% - 30px) / 6);
        flex-basis: calc((100% - 30px) / 6);
  }
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .foot-wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .foot-wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: unset;
  }
}

.footer {
  color: var(--backgraund-color);
  background: var(--backgraund-secondary-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
}

.cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .cont {
    margin-bottom: 0;
  }
}
.cont__list {
  display: list-item;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
}
.cont__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--backgraund-color);
}
.cont__item {
  margin-bottom: 9px;
}
.cont__item:last-child {
  margin-bottom: 0;
}
.cont__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.cont__link:hover, .cont__link:focus {
  color: var(--accent-color);
}
.cont__link-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  cursor: default;
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.subscription__title {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subscription__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  position: relative;
  align-items: center;
}
.subscription__field {
  margin-bottom: 20px;
}
.subscription__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--backgraund-secondary-color);
  color: var(--backgraund-color);
}
.subscription__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  margin: 0 auto;
  width: 200px;
  min-height: 50px;
  letter-spacing: 0.06em;
  gap: 10px;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;
  color: var(--backgraund-color);
  /*cursor: pointer;*/
}
.subscription__btn:hover, .subscription__btn:focus {
  cursor: pointer;
}
.subscription__icons {
  position: absolute;
  right: 22px;
  bottom: 12px;
}
@media screen and (min-width: 480px) {
  .subscription__icons {
    right: 148px;
  }
}
@media screen and (min-width: 768px) {
  .subscription__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription {
    right: 18px;
    bottom: 11px;
  }
  .subscription__group {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
  .subscription__field {
    margin-bottom: 0;
    margin-right: 12px;
  }
  .subscription__input {
    width: 358px;
  }
  .subscription__icons {
    right: 22px;
  }
}

.register__title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}
.register__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}
.register__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.register__lable {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.register__field:last-child {
  margin-bottom: 0;
}
.register__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}
.register__input:focus {
  border-color: var(--accent-color);
}
.register__icons {
  position: absolute;
  bottom: 12px;
  left: 10px;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.register__input:focus + .register__icons {
  fill: var(--accent-color);
}
.register__message {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}
.register__message::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
.register__message::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
.register__message:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
.register__message::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
.register__message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
.register__message:focus {
  border-color: var(--accent-color);
}
.register__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  position: relative;
  gap: 10px;
}
.register__icon-cheked {
  opacity: 0;
  fill: var(--accent-color);
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}
.register__checkbox:checked + .register__icons-checkbox .register__icon-cheked {
  opacity: 1;
}
.register__icon-uncheked {
  opacity: 1;
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}
.register__checkbox:checked + .register__icons-checkbox .register__icon-uncheked {
  opacity: 0;
}
.register__checkbox:focus + .register__icons-checkbox {
  outline: 2px solid var(--primary-text-color);
  outline-offset: 1px;
  border-radius: 2px;
}
.register__desc {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 12px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .register__desc {
    font-size: 14px;
  }
}
.register__link {
  color: var(--accent-color);
  text-decoration: underline;
}
.register__icons-checkbox {
  top: 5px;
  left: 10px;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.register__btn {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  width: 200px;
  min-height: 50px;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;
  color: var(--backgraund-color);
}
.register__btn:hover, .register__btn:focus {
  cursor: pointer;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding-left: 0;
}
.card__item {
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.card__item:hover, .card__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card__bord {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.card__tomb {
  position: relative;
  overflow: hidden;
}
.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  /* backdrop-filter: blur;*/
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
}
.card__item:hover .card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card__overlay-text {
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--backgraund-color);
}
.card__subject {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.card__text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
  .card__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card__item {
    width: calc((100% - 60px) / 3);
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 56px;
}
.navigation__btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  -webkit-transition: color var(--animation), background var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background var(--animation), box-shadow var(--animation);
  transition: color var(--animation), background var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.navigation__btn-all {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  -webkit-transition: color var(--animation), background var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background var(--animation), box-shadow var(--animation);
  transition: color var(--animation), background var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.navigation__btn-all:hover, .navigation__btn-all:focus {
  color: var(--secondary-color);
  background: var(--accent-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.navigation__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.navigation__btn:hover, .navigation__btn:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--accent-color);
  color: var(--backgraund-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 1200px) {
  .navigation {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}/*# sourceMappingURL=main.css.map */