.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 54px;
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 40px 48px;
  display: flex;
  flex-direction: column;

  background-color: var(--backgraund-color);

  transform: translateX(100%);
  transition: transform var(--animation);

  &.is-open {
    transform: translateX(0);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;

  background-color: transparent;
  border: none;
  padding: 0px;
  fill: #000000;

  transition: fill var(--animation);
  cursor: pointer;

  &:focus,
  &:hover {
    fill: var(--accent-color);
    cursor: pointer;
  }
}

.menu-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  gap: 32px;

  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
}

.menu-cont {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;

  &__link {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }

  &__tel {
    font-weight: 500;
    font-size: 25px;
    line-height: calc(40 / 34);

    color: var(--accent-color);

    @media screen and (min-width: 480px) {
      font-size: 34px;
    }
  }

  &__link:focus,
  &__link:hover {
    color: var(--accent-color);
    cursor: pointer;
  }
}

.menu-socials {
  display: flex;
  //gap: 20px;

  &__item {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__item:last-child {
    padding-right: 0;
    border-right: none;
  }

  &__link {
    font-weight: 500;
    font-size: 11px;
    line-height: calc(22 / 18);

    color: var(--accent-color);

    @media screen and (min-width: 480px) {
      font-size: 18px;
    }
  }
}
