body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--backgraund-color);
  // margin: 0;
}

.section {
  padding: 60px 0px;
  //mobile style

  //tablet style
  @media screen and (min-width: 768px) {
    padding: 60px 0px;
  }

  // desktop style
  @media screen and (min-width: 1200px) {
    padding: 94px 0px;
  }
}

.title-hero {
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  margin-bottom: 30px;

  @media screen and (mmin-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}

.accent {
  color: var(--accent-color);
}
