.container {
  //backpoints

  //mobile style
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;

  //tablet style
  @media screen and (min-width: 768px) {
    max-width: 720px;
  }

  // desktop style
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
