.about {
  &__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      text-align: unset;
      flex-direction: unset;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
      text-align: unset;
      flex-direction: unset;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    background-color: #f5f4fa;
  }

  // &__icons {
  // /display: flex;
  //  justify-content: center;
  //align-items: center;

  // margin-bottom: 30px;
  //}

  &__item {
    @media screen and (min-width: 768px) {
      width: calc((100% - 90px) / 2);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
    }
  }

  &__title {
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__text {
    text-align: start;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);

    @media screen and (min-width: 768px) {
      text-align: none;
    }

    @media screen and (min-width: 1200px) {
      text-align: none;
      display: inline-block;
    }
  }
}
