header {
  display: flex;
  border-bottom: 1px solid #ececec;
}

.container-header {
  //align-items: center;
  margin-left: 0;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.active {
  position: relative;
  color: var(--accent-color);
}
