.hero {
  max-width: 100%;
  text-align: center;
  padding: 200px 0;

  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(48, 48, 58, 0.4), rgba(48, 48, 58, 0.4)),
    url(../images/hero/img_sm-@1x.png);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img_sm-@2x.png);
  }

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--backgraund-color);
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }

  &__btns {
    min-width: 200px;
    min-height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);

    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--backgraund-color);

    border-radius: 4px;
    border: 0;
    padding: 10px 24px;

    &__:hover,
    &__:focus {
      cursor: pointer;
    }
  }

  @media screen and (min-width: 768px) {
    text-align: center;

    background-image: linear-gradient(to right, rgba(48, 48, 58, 0.4), rgba(48, 48, 58, 0.4)),
      url(../images/hero/img_md-@1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/img_md-@2x.png);

      &__title {
        width: 696px;
        font-size: 44px;
        line-height: calc(61 / 44);
      }
      &__btns {
        width: 216px;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(48, 48, 58, 0.4), rgba(48, 48, 58, 0.4)),
      url(../images/hero/img_lg-@1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/img_lg-@2x.png);
    }
  }
}
