.nav {
  //display: flex;
  // justify-content: flex-start;

  &__logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    //margin-right: 93px;
    //margin-right: 248px;
  }
  &__list {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;

    &__logo {
      margin-right: 87px;
    }

    &__list {
      display: inline-flex;
      gap: 50px;
      // margin-right: 96px
    }

    &__link {
      font-weight: 500;
      font-size: 14px;
      line-height: calc(16 / 14);
      letter-spacing: 0.02em;
      padding-top: 20px;
      padding-bottom: 32px;
      transition: color var(--animation);
    }

    &__link.active::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }
}

@media screen and (min-width: 1200px) {
}
