.register {
  &__title {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 12px;
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__field {
    position: relative;
    display: block;
    margin-bottom: 10px;
  }

  &__lable {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;

    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
  }

  &__field:last-child {
    margin-bottom: 0;
  }

  &__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;

    transition: border-color var(--animation);
  }

  &__input:focus {
    border-color: var(--accent-color);
  }

  &__icons {
    position: absolute;
    bottom: 12px;
    left: 10px;

    transition: fill var(--animation);
  }

  &__input:focus + .register__icons {
    fill: var(--accent-color);
  }

  &__message {
    display: block;
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;

    transition: border-color var(--animation);
  }

  &__message::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
  }

  &__message:focus {
    border-color: var(--accent-color);
  }

  &__agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
    gap: 10px;
  }

  &__icon-cheked {
    opacity: 0;
    fill: var(--accent-color);
    transition: opacity var(--animation);
  }

  &__checkbox:checked + &__icons-checkbox &__icon-cheked {
    opacity: 1;
  }

  &__icon-uncheked {
    opacity: 1;
    transition: opacity var(--animation);
  }

  &__checkbox:checked + &__icons-checkbox &__icon-uncheked {
    opacity: 0;
  }

  &__checkbox:focus + &__icons-checkbox {
    outline: 2px solid var(--primary-text-color);
    outline-offset: 1px;
    border-radius: 2px;
  }

  &__desc {
    user-select: none;

    font-size: 12px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
  }

  &__link {
    color: var(--accent-color);
    text-decoration: underline;
  }

  &__icons-checkbox {
    //position: absolute;
    top: 5px;
    left: 10px;

    transition: fill var(--animation);
  }

  &__btn {
    display: block;
    margin: 0 auto;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    width: 200px;
    min-height: 50px;
    letter-spacing: 0.06em;

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    padding: 10px 32px;
    color: var(--backgraund-color);
  }

  &__btn:hover,
  &__btn:focus {
    cursor: pointer;
  }
}
