.subscription {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__group {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;

    display: flex;
    position: relative;
    align-items: center;
  }

  &__field {
    margin-bottom: 20px;
  }

  &__input {
    width: 100%; //450
    height: 50px;
    padding-left: 16px;

    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    border-radius: 4px;
    background-color: var(--backgraund-secondary-color);
    color: var(--backgraund-color);
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);

    margin: 0 auto;
    width: 200px;
    min-height: 50px;
    letter-spacing: 0.06em;
    gap: 10px;

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    padding: 10px 32px;
    color: var(--backgraund-color);
    /*cursor: pointer;*/
  }

  &__btn:hover,
  &__btn:focus {
    cursor: pointer;
  }

  &__icons {
    position: absolute;
    right: 22px; //
    bottom: 12px;
  }

  @media screen and (min-width: 480px) {
    &__icons {
      right: 148px;
    }
  }

  @media screen and (min-width: 768px) {
    &__input {
      width: 450px;
    }
  }

  @media screen and (min-width: 1200px) {
    right: 18px;
    bottom: 11px;

    &__group {
      flex-direction: unset;
    }
    &__field {
      margin-bottom: 0;
      margin-right: 12px;
    }
    &__input {
      width: 358px;
    }
    &__icons {
      right: 22px;
    }
  }
}
